body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:10px;
  width:1330px;
  height:150px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:160px;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u2 {
  position:absolute;
  left:2px;
  top:67px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:35px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:170px;
  top:66px;
  width:211px;
  height:37px;
  color:#FFE754;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1161px;
  top:66px;
  width:56px;
  height:25px;
  font-size:16px;
  color:#FFE754;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:20px;
  top:170px;
  width:420px;
  height:40px;
  font-size:20px;
  color:#FFE754;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:416px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:450px;
  top:170px;
  width:420px;
  height:40px;
  font-size:20px;
  color:#FFE754;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:416px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:890px;
  top:170px;
  width:460px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:950px;
  top:170px;
  width:400px;
  height:37px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:37px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:884px;
  top:170px;
  width:66px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:220px;
  width:850px;
  height:450px;
  color:transparent;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:450px;
}
#u24 {
  position:absolute;
  left:2px;
  top:217px;
  width:846px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:890px;
  top:220px;
  width:460px;
  height:450px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:450px;
}
#u26 {
  position:absolute;
  left:2px;
  top:217px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1037px;
  top:66px;
  width:43px;
  height:19px;
  font-size:16px;
  color:#FFE754;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
