body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:1330px;
  height:200px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:210px;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:20px;
  width:160px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:150px;
  width:130px;
  height:30px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#1B1B1B;
  text-align:center;
}
#u5 {
  position:absolute;
  left:20px;
  top:220px;
  width:1330px;
  height:450px;
  color:transparent;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:450px;
}
#u6 {
  position:absolute;
  left:2px;
  top:217px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:610px;
  top:245px;
  width:421px;
  height:40px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:43px;
  top:301px;
  width:421px;
  height:40px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:40px;
  top:245px;
  width:421px;
  height:40px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:610px;
  top:301px;
  width:421px;
  height:40px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:610px;
  top:361px;
  width:421px;
  height:40px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:40px;
  top:361px;
  width:421px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:40px;
  top:413px;
  width:650px;
  height:91px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:91px;
  font-family:'Times New Roman Regular', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:40px;
  top:535px;
  width:142px;
  height:35px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:35px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14_input:disabled {
  color:grayText;
}
#u15 {
  position:absolute;
  left:201px;
  top:535px;
  width:127px;
  height:35px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u15_input:disabled {
  color:grayText;
}
#u16 {
  position:absolute;
  left:347px;
  top:534px;
  width:114px;
  height:35px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:461px;
  top:245px;
  width:39px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1030px;
  top:245px;
  width:39px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:463px;
  top:301px;
  width:39px;
  height:40px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1031px;
  top:301px;
  width:39px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:461px;
  top:361px;
  width:39px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:690px;
  top:464px;
  width:39px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:471px;
  top:535px;
  width:39px;
  height:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:890px;
  top:600px;
  width:141px;
  height:40px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  font-family:'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#434343;
  text-align:center;
}
#u33 {
  position:absolute;
  left:1216px;
  top:86px;
  width:56px;
  height:25px;
  font-size:16px;
  color:#FFE754;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1040px;
  top:90px;
  width:43px;
  height:19px;
  font-size:16px;
  color:#FFE754;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
